body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.container {
  overflow: hidden;
  margin: 1em;
  user-select: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  background-color: rgb(18, 18, 18);
  border-radius: 1.25em;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 4px 1px 0px rgba(0, 0, 0, 0.14), 0px 4px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.hint {
  display: block;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  margin: 2rem auto;
  max-width: 90%;
}

.holidayNote {
  display: none;
}

.styledUnit,
.holidayNote {
  font-size: 1.275em;
  font-weight: 600;
  color: rgb(66, 165, 245);
}
